<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116147973494-jj116tgjs542jk4lnrdql9ifce1l8cmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116147973494-jj116tgjs542jk4lnrdql9ifce1l8cmv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>116147973494-46qi9is9bp09d1cludk97rjq0qu2fbns.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_PkDZUqJpUj6S6G-ZlNbgeRfxN__x6os</string>
	<key>GCM_SENDER_ID</key>
	<string>116147973494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-efdf4</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-efdf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116147973494:ios:c4a80e7531e544fed5de57</string>
</dict>
</plist>